<style>
  .form-container  {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #34495e;
  
  }
  
  .form {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #19191919;
  text-align: center;
  }
  .form h1 {
    
    text-transform: uppercase;
    font-weight: 500;
  }
  .form input[type = "text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(89, 0, 255);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
  }

  .form input[type = "text"]:focus {
    width: 280px;
  }
  .form button {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(89, 0, 255);
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }

  .form button:hover {
    background-color:  rgb(89, 0, 255);
  }
</style>
<div class="form-container">
  <form
  class="form"
  method="POST"
  autocomplete="off"
  #createUserForm="ngForm"
  (ngSubmit)="createNewUser(createUserForm.value, $event)"
>
<h1> New User</h1>
      <input type="text" ngModel name="fullName" placeholder="Full Name" />

      <input type="text" ngModel name="email" placeholder="Email" />
 
      <input type="text" ngModel name="phone" placeholder="Phone" />

  <button>Create</button>
</form>
</div>

